# shortcut
alias dl="cd ~/Downloads"
alias cf="cd ~/.config"
alias mount-f="udisksctl mount -b /dev/sda5"
alias mount-e="udisksctl mount -b /dev/sda4"
alias mount-d="udisksctl mount -b /dev/sda2"

# grep
alias installed-grep="apt list --installed | grep -i "

# apt 
alias purge="sudo apt purge"
alias install="sudo apt install"
alias update="sudo apt update"


# directory
alias cd-f="/media/theuser/mount/Documents"
alias cd-d="/media/theuser/mount/Downloads"
alias cd-e="/media/theuser/mount/'NewVolume'"
alias cd-toeic="/media/theuser/mount/Documents/Documents/'TOEIC 33'"
alias cd-book="/media/theuser/mount/Documents/Documents/Book"
alias cd-wallpaper-local="/home/theuser/Pictures/wallpaper"
alias cd-wallpaper-F="/media/theuser/mount/Documents/background"
alias cd-cpp="/media/theuser/mount/Documents/Code/Cpp"
alias cd-python="/media/theuser/mount/Documents/Code/python"
alias cd-go="/media/theuser/mount/Documents/Code/go"

## code

## copy current path

# service control

# tmux redefine
alias tmux-config="tmux new-session -c ~/.config -s config"
alias tmux-main="tmux new-session -s main"
alias tmux-cpp="tmux new-session -c /media/theuser/mount/Documents/Code/Cpp -s Cpp-with-me \; split-window -dh -p 30"
alias tmux-go="tmux new-session -c /media/theuser/mount/Documents/Code/go -s Go-with-me \; split-window -dh -p 30"
alias tmux-reattact="tmux a -t "
alias tmux-python="tmux new-session -c /media/theuser/mount/Documents/Code/python -s Python-with-me" 

# golang
alias getgo="export PATH=$PATH:/usr/local/go/bin"

# pulseaudio
alias unmute="amixer set Master unmute"

# check memory usage
alias topmem="top -o %MEM"
