# Ignore everything
/*

# Except these

# files
!/.gitignore
!/i3blocks/config
!/compton.conf
!/i3status/config
!/redshift.conf
!fstab
!/README.md
!/.aliases
!/qutebrowser/config.py
!/terminator/config

# folders
!/custome-cli-cmd
!/tmux/
!/nvim/
!/i3/
!/rofi/
!/custome-cli-cmd/
!/zathura/
