# Ignore everything
/*

# Except these

# files
!/.gitignore
!/i3blocks/config
!/compton.conf
!/i3status/config
!/redshift.conf
!fstab
!/README.md
!/.aliases
!/qutebrowser/config.py

# folders
!/tmux/tmux.conf
!/custome-cli-cmd
!/nvim/
!/i3/
!/rofi/
!/custome-cli-cmd/
!/dwm/
