# Ignore everything
/*

# Except these

# files
!/.gitignore
!/i3blocks/config
!/compton.conf
!/i3status/config
!/redshift.conf
!fstab
!/README.md
!/.aliases

# folders
!/tmux/tmux.conf
!/nvim/
!/i3/
!/rofi/

